/* styles.css */

/* Reset default margin and padding */
body, h1, p, ul {
    margin: 0;
    padding: 0;
    font-weight: 200;
    background-color: lightskyblue;
}

/* Header styles */
#headerName {
    background-color: lightsalmon;
    text-align: center;
    align-items: left;
    border: solid 2px;
    border-radius: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.Cook {
    background-color: lightsalmon;
}

.one, .two, .three, .four, .five {
    text-align: center;
    font-family: Helvetica;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid;
    border-radius: 20px;
    background-color: lightseagreen;
    margin-bottom: 40px;
    display: inline-block;
    position: sticky;
    margin-top: 20px;
}

.img {
    border: 2px solid;
}

/* Navigation styles */
.topNav a {
    overflow: hidden;
    text-align: center;
    font-size: x-large;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 10px;
    position: relative;
    font-size: 18px;
    text-decoration: none;
    margin-left: 40px;
}

.topNav a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}

.topNav a:hover::before {
    width: 100%;
}
/*Section class="pictures"*/
.recipe {
    background-color: tomato;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    border: 2px solid;
}

.Mission {
    background-color: lightsalmon;
    text-align: center;
    align-items: left;
    border: solid 2px;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.About {
    background-color: lightsalmon;
}

/* Footer styles */

.siteNumber {
    background-color: #333;
}

.foot{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
