/* styles.css */

/* Reset default margin and padding */
body, h1, p, ul {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

/* Header styles */
header {
    background-color: tomato;
    color: brown;
    padding: 20px;
}

.button {
    padding-left: 10px;
    padding-top: 5px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/*Section class="pictures"*/
.pictures {
    background-color: bisque;
}

p {
    font-family: Verdana;
}

h2 {
    padding-left: 10px;
    margin-top: 0;
    padding-top: 5px;
}

img {
    height: 50%; width: 50%;
}

/* Main styles */
main {
    padding: 20px;
    padding-top: 600px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
